Proceso_Fabric/Pipelines/ETL_FABRIC/ETL_FABRIC.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"spaceparts_fabric_lh":{"type":"string"},"Thewarehouse":{"type":"string"}},"variables":{},"resources":[{"name":"ETL_FABRIC","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Capa_Bronce","description":"En esta capa se encuentran los datos que llegan desde el origen.","type":"TridentNotebook","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"fc6cb0ca-e52b-4713-b29d-de793d580e64","workspaceId":"46a71285-4d57-4c8d-9bf6-2b3c7d697c2a"}},{"name":"Capa_Silver","description":"Esta fase tiene como objetivo principal comparar, fusionar y limpiar los datos de la capa de bronce, generando una vista empresarial completa de cada tabla anterior. Las operaciones de limpieza y transformación llevadas a cabo en esta etapa han de ser las mínimas necesarias, además de que estas no pueden contener ningún tipo de lógica de negocio.","type":"TridentNotebook","dependsOn":[{"activity":"Capa_Bronce","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"161a656d-0afb-4db9-b2f3-17b05fe61f14","workspaceId":"46a71285-4d57-4c8d-9bf6-2b3c7d697c2a"}},{"name":"Capa_Gold","description":"Contiene los datos consolidados tras haber aplicado la lógica de negocio deseada. Del mismo modo, en la capa de gold se pueden generar nuevos modelos de datos específicos para cada proyecto, equipo, área o necesidad.","type":"TridentNotebook","dependsOn":[{"activity":"Capa_Silver","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"4340f1c6-2694-4513-8dc1-bd7d602f8a47","workspaceId":"46a71285-4d57-4c8d-9bf6-2b3c7d697c2a"}},{"name":"Copy_gold_dim_customer","type":"Copy","dependsOn":[{"activity":"Capa_Gold","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"LakehouseTableSource","datasetSettings":{"annotations":[],"linkedService":{"name":"spaceparts_fabric_lh","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"46a71285-4d57-4c8d-9bf6-2b3c7d697c2a","artifactId":"[parameters('spaceparts_fabric_lh')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"table":"gold_dim_customer"}}},"sink":{"type":"DataWarehouseSink","preCopyScript":"IF OBJECT_ID('dbo.gold_dim_customer', 'U') IS NOT NULL DROP TABLE dbo.gold_dim_customer;","allowCopyCommand":true,"copyCommandSettings":{},"tableOption":"autoCreate","datasetSettings":{"annotations":[],"linkedService":{"name":"Thewarehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"b2m7pwr7rkoebg3wfjkhkcmaaa-qujkorsxjwguzg7wfm6h22l4fi.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('Thewarehouse')]","workspaceId":"46a71285-4d57-4c8d-9bf6-2b3c7d697c2a"}}},"type":"DataWarehouseTable","schema":[],"typeProperties":{"table":"gold_dim_customer"}}},"enableStaging":true,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}},{"name":"Copy_gold_fact_budget","type":"Copy","dependsOn":[{"activity":"Capa_Gold","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"LakehouseTableSource","datasetSettings":{"annotations":[],"linkedService":{"name":"spaceparts_fabric_lh","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"46a71285-4d57-4c8d-9bf6-2b3c7d697c2a","artifactId":"[parameters('spaceparts_fabric_lh')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"table":"gold_fact_budget"}}},"sink":{"type":"DataWarehouseSink","preCopyScript":"IF OBJECT_ID('dbo.gold_fact_budget', 'U') IS NOT NULL DROP TABLE dbo.gold_fact_budget;","allowCopyCommand":true,"copyCommandSettings":{},"tableOption":"autoCreate","datasetSettings":{"annotations":[],"linkedService":{"name":"Thewarehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"b2m7pwr7rkoebg3wfjkhkcmaaa-qujkorsxjwguzg7wfm6h22l4fi.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('Thewarehouse')]","workspaceId":"46a71285-4d57-4c8d-9bf6-2b3c7d697c2a"}}},"type":"DataWarehouseTable","schema":[],"typeProperties":{"table":"gold_fact_budget"}}},"enableStaging":true,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}},{"name":"Copy_gold_fact_orders","type":"Copy","dependsOn":[{"activity":"Capa_Gold","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"LakehouseTableSource","datasetSettings":{"annotations":[],"linkedService":{"name":"spaceparts_fabric_lh","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"46a71285-4d57-4c8d-9bf6-2b3c7d697c2a","artifactId":"[parameters('spaceparts_fabric_lh')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"table":"gold_fact_orders"}}},"sink":{"type":"DataWarehouseSink","preCopyScript":"IF OBJECT_ID('dbo.gold_fact_orders', 'U') IS NOT NULL DROP TABLE dbo.gold_fact_orders;","allowCopyCommand":true,"copyCommandSettings":{},"tableOption":"autoCreate","datasetSettings":{"annotations":[],"linkedService":{"name":"Thewarehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"b2m7pwr7rkoebg3wfjkhkcmaaa-qujkorsxjwguzg7wfm6h22l4fi.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('Thewarehouse')]","workspaceId":"46a71285-4d57-4c8d-9bf6-2b3c7d697c2a"}}},"type":"DataWarehouseTable","schema":[],"typeProperties":{"table":"gold_fact_orders"}}},"enableStaging":true,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}},{"name":"Lookup_Error_Bronce","type":"Lookup","dependsOn":[{"activity":"Capa_Bronce","dependencyConditions":["Failed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"LakehouseTableSource","query":{"value":"SELECT TOP 1 execution_id, details, error_message, timestamp FROM bronze_execution_log WHERE status = 'Failed' ORDER BY timestamp DESC","type":"Expression"}},"datasetSettings":{"annotations":[],"linkedService":{"name":"spaceparts_fabric_lh","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"46a71285-4d57-4c8d-9bf6-2b3c7d697c2a","artifactId":"[parameters('spaceparts_fabric_lh')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"table":"bronze_execution_log"}}}},{"name":"Lookup_Error_Silver","type":"Lookup","dependsOn":[{"activity":"Capa_Silver","dependencyConditions":["Failed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"LakehouseTableSource","query":{"value":"SELECT TOP 1 execution_id, details, error_message, timestamp FROM silver_execution_log WHERE status = 'Failed' ORDER BY timestamp DESC","type":"Expression"}},"datasetSettings":{"annotations":[],"linkedService":{"name":"spaceparts_fabric_lh","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"46a71285-4d57-4c8d-9bf6-2b3c7d697c2a","artifactId":"[parameters('spaceparts_fabric_lh')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"table":"silver_execution_log"}}}},{"name":"Lookup_Error_Gold","type":"Lookup","dependsOn":[{"activity":"Capa_Gold","dependencyConditions":["Failed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"LakehouseTableSource","query":{"value":"SELECT TOP 1 execution_id, details, error_message, timestamp FROM gold_execution_log WHERE status = 'Failed' ORDER BY timestamp DESC","type":"Expression"}},"datasetSettings":{"annotations":[],"linkedService":{"name":"spaceparts_fabric_lh","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"46a71285-4d57-4c8d-9bf6-2b3c7d697c2a","artifactId":"[parameters('spaceparts_fabric_lh')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"table":"gold_execution_log"}}}},{"name":"Lookup_Error_Copy_Activities","type":"Lookup","dependsOn":[{"activity":"Copy_gold_dim_customer","dependencyConditions":["Failed"]},{"activity":"Copy_gold_fact_budget","dependencyConditions":["Failed"]},{"activity":"Copy_gold_fact_orders","dependencyConditions":["Failed"]},{"activity":"Copy_gold_fact_sales","dependencyConditions":["Failed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"LakehouseTableSource","query":{"value":"SELECT TOP 1 execution_id, details, error_message, timestamp, activity_name FROM warehouse_copy_execution_log WHERE status = 'Failed' ORDER BY timestamp DESC","type":"Expression"}},"datasetSettings":{"annotations":[],"linkedService":{"name":"spaceparts_fabric_lh","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"46a71285-4d57-4c8d-9bf6-2b3c7d697c2a","artifactId":"[parameters('spaceparts_fabric_lh')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"table":"warehouse_copy_execution_log"}}}},{"name":"Email_Notificacion_Error_Bronce","type":"Office365Outlook","dependsOn":[{"activity":"Lookup_Error_Bronce","dependencyConditions":["Succeeded"]}],"typeProperties":{"inputs":{"method":"post","path":"/v2/Mail","body":{"To":"luis-frontuso@javeriana.edu.co","Subject":"Error capa bronce","Body":"<p>Error en el proceso ETL capa Bronce</p>","Sensitivity":"","Importance":"Normal"}},"To":"luis-frontuso@javeriana.edu.co","Subject":"ERROR EN CAPA BRONCE - Pipeline ETL_FABRIC","Body":"@concat('<html><body><h2>Error en Pipeline ETL_FABRIC</h2><p><strong>Capa que falló:</strong> Capa Bronce</p><p><strong>Fecha y Hora:</strong> ', utcnow(), '</p><p><strong>Execution ID:</strong> ', string(activity('Lookup_Error_Bronce').output.firstRow.execution_id), '</p><p><strong>Detalles del Error:</strong></p><p>', string(activity('Lookup_Error_Bronce').output.firstRow.details), '</p><p><strong>Mensaje de Error:</strong></p><p>', coalesce(string(activity('Lookup_Error_Bronce').output.firstRow.error_message), 'No se encontró mensaje de error específico'), '</p><p><strong>Timestamp del Error:</strong> ', string(activity('Lookup_Error_Bronce').output.firstRow.timestamp), '</p><hr><p><em>Pipeline: ETL_FABRIC</em></p><p><em>Workspace ID: 46a71285-4d57-4c8d-9bf6-2b3c7d697c2a</em></p></body></html>')","Importance":"High"}},{"name":"Email_Notificacion_Error_Silver","type":"Office365Outlook","dependsOn":[{"activity":"Lookup_Error_Silver","dependencyConditions":["Succeeded"]}],"typeProperties":{"inputs":{"method":"post","path":"/v2/Mail","body":{"To":"luis-frontuso@javeriana.edu.co","Subject":"Error capa Silver","Body":"<p>Error en el proceso ETL capa Silver</p>","Sensitivity":"","Importance":"Normal"}},"To":"luis-frontuso@javeriana.edu.co","Subject":"ERROR EN CAPA SILVER - Pipeline ETL_FABRIC","Body":"@concat('<html><body><h2>Error en Pipeline ETL_FABRIC</h2><p><strong>Capa que falló:</strong> Capa Silver</p><p><strong>Fecha y Hora:</strong> ', utcnow(), '</p><p><strong>Execution ID:</strong> ', string(activity('Lookup_Error_Silver').output.firstRow.execution_id), '</p><p><strong>Detalles del Error:</strong></p><p>', string(activity('Lookup_Error_Silver').output.firstRow.details), '</p><p><strong>Mensaje de Error:</strong></p><p>', coalesce(string(activity('Lookup_Error_Silver').output.firstRow.error_message), 'No se encontró mensaje de error específico'), '</p><p><strong>Timestamp del Error:</strong> ', string(activity('Lookup_Error_Silver').output.firstRow.timestamp), '</p><hr><p><em>Pipeline: ETL_FABRIC</em></p><p><em>Workspace ID: 46a71285-4d57-4c8d-9bf6-2b3c7d697c2a</em></p></body></html>')","Importance":"High"}},{"name":"Email_Notificacion_Error_Gold","type":"Office365Outlook","dependsOn":[{"activity":"Lookup_Error_Gold","dependencyConditions":["Succeeded"]}],"typeProperties":{"inputs":{"method":"post","path":"/v2/Mail","body":{"To":"luis-frontuso@javeriana.edu.co","Subject":"Error capa Gold","Body":"<p>Error en el proceso ETL capa Gold</p>","Sensitivity":"","Importance":"Normal"}},"To":"luis-frontuso@javeriana.edu.co","Subject":"ERROR EN CAPA GOLD - Pipeline ETL_FABRIC","Body":"@concat('<html><body><h2>Error en Pipeline ETL_FABRIC</h2><p><strong>Capa que falló:</strong> Capa Gold</p><p><strong>Fecha y Hora:</strong> ', utcnow(), '</p><p><strong>Execution ID:</strong> ', string(activity('Lookup_Error_Gold').output.firstRow.execution_id), '</p><p><strong>Detalles del Error:</strong></p><p>', string(activity('Lookup_Error_Gold').output.firstRow.details), '</p><p><strong>Mensaje de Error:</strong></p><p>', coalesce(string(activity('Lookup_Error_Gold').output.firstRow.error_message), 'No se encontró mensaje de error específico'), '</p><p><strong>Timestamp del Error:</strong> ', string(activity('Lookup_Error_Gold').output.firstRow.timestamp), '</p><hr><p><em>Pipeline: ETL_FABRIC</em></p><p><em>Workspace ID: 46a71285-4d57-4c8d-9bf6-2b3c7d697c2a</em></p></body></html>')","Importance":"High"}},{"name":"Email_Notificacion_Error_Warehouse","type":"Office365Outlook","dependsOn":[{"activity":"Lookup_Error_Copy_Activities","dependencyConditions":["Succeeded"]}],"typeProperties":{"inputs":{"method":"post","path":"/v2/Mail","body":{"To":"luis-frontuso@javeriana.edu.co","Subject":"Error Warehose","Body":"<p>Error en el proceso Warehouse</p>","Sensitivity":"","Importance":"Normal"}},"To":"luis-frontuso@javeriana.edu.co","Subject":"ERROR EN CARGA AL DATA WAREHOUSE - Pipeline ETL_FABRIC","Body":"@concat('<html><body><h2>Error en Pipeline ETL_FABRIC</h2><p><strong>Capa que falló:</strong> Carga al Data Warehouse</p><p><strong>Actividad específica:</strong> ', string(activity('Lookup_Error_Copy_Activities').output.firstRow.activity_name), '</p><p><strong>Fecha y Hora:</strong> ', utcnow(), '</p><p><strong>Execution ID:</strong> ', string(activity('Lookup_Error_Copy_Activities').output.firstRow.execution_id), '</p><p><strong>Detalles del Error:</strong></p><p>', string(activity('Lookup_Error_Copy_Activities').output.firstRow.details), '</p><p><strong>Mensaje de Error:</strong></p><p>', coalesce(string(activity('Lookup_Error_Copy_Activities').output.firstRow.error_message), 'No se encontró mensaje de error específico'), '</p><p><strong>Timestamp del Error:</strong> ', string(activity('Lookup_Error_Copy_Activities').output.firstRow.timestamp), '</p><hr><p><em>Pipeline: ETL_FABRIC</em></p><p><em>Workspace ID: 46a71285-4d57-4c8d-9bf6-2b3c7d697c2a</em></p><p><em>Data Warehouse: Thewarehose</em></p></body></html>')","Importance":"High"}},{"name":"Copy_gold_dim_product","type":"Copy","dependsOn":[{"activity":"Capa_Gold","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"LakehouseTableSource","datasetSettings":{"annotations":[],"linkedService":{"name":"spaceparts_fabric_lh","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"46a71285-4d57-4c8d-9bf6-2b3c7d697c2a","artifactId":"[parameters('spaceparts_fabric_lh')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"table":"gold_dim_product"}}},"sink":{"type":"DataWarehouseSink","preCopyScript":"IF OBJECT_ID('dbo.gold_dim_product', 'U') IS NOT NULL DROP TABLE dbo.gold_dim_product;","allowCopyCommand":true,"copyCommandSettings":{},"tableOption":"autoCreate","datasetSettings":{"annotations":[],"linkedService":{"name":"Thewarehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"b2m7pwr7rkoebg3wfjkhkcmaaa-qujkorsxjwguzg7wfm6h22l4fi.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('Thewarehouse')]","workspaceId":"46a71285-4d57-4c8d-9bf6-2b3c7d697c2a"}}},"type":"DataWarehouseTable","schema":[],"typeProperties":{"table":"gold_dim_product"}}},"enableStaging":true,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}},{"name":"Copy_gold_fact_sales","type":"Copy","dependsOn":[{"activity":"Capa_Gold","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"LakehouseTableSource","datasetSettings":{"annotations":[],"linkedService":{"name":"spaceparts_fabric_lh","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"46a71285-4d57-4c8d-9bf6-2b3c7d697c2a","artifactId":"[parameters('spaceparts_fabric_lh')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"table":"gold_fact_sales"}}},"sink":{"type":"DataWarehouseSink","preCopyScript":"IF OBJECT_ID('dbo.gold_fact_sales', 'U') IS NOT NULL DROP TABLE dbo.gold_fact_sales;","allowCopyCommand":true,"copyCommandSettings":{},"tableOption":"autoCreate","datasetSettings":{"annotations":[],"linkedService":{"name":"Thewarehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"b2m7pwr7rkoebg3wfjkhkcmaaa-qujkorsxjwguzg7wfm6h22l4fi.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('Thewarehouse')]","workspaceId":"46a71285-4d57-4c8d-9bf6-2b3c7d697c2a"}}},"type":"DataWarehouseTable","schema":[],"typeProperties":{"table":"gold_fact_sales"}}},"enableStaging":true,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}},{"name":"Dataflow_calendar","type":"RefreshDataflow","dependsOn":[{"activity":"Copy_gold_fact_sales","dependencyConditions":["Succeeded"]},{"activity":"Copy_gold_fact_orders","dependencyConditions":["Succeeded"]},{"activity":"Copy_gold_fact_budget","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"dataflowId":"cca8c05b-a5ae-453b-8eb8-7e1d275c8d5f","workspaceId":"46a71285-4d57-4c8d-9bf6-2b3c7d697c2a","notifyOption":"NoNotification","dataflowType":"DataflowFabric"}}],"lastModifiedByObjectId":"55696509-301d-4c8f-a753-1a39da51ba8d","lastPublishTime":"2025-09-20T04:21:45Z","logicAppsConnectionPayload":{"id":"/subscriptions/6cad2566-967c-43c8-9e8b-96a06d03f03f/resourceGroups/connections-46a71285-4d57-4c8d-9bf6-2b3c7d697c2a/providers/Microsoft.Web/connections/1_2f7d4bdf-1e8c-41c5-a675-a59f5a141e4e_55696509-301d-4c8f-a753-1a39da51ba8d","properties":{"api":{"name":"office365","id":"/subscriptions/6cad2566-967c-43c8-9e8b-96a06d03f03f/providers/Microsoft.Web/locations/westus/managedApis/office365"}}}},"dependsOn":[]}]}