Proceso_Fabric/Pipelines/Lakehouse_to_Warehouse/Lakehouse_to_Warehouse.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"spaceparts_fabric_lh":{"type":"string"},"Thewarehouse":{"type":"string"}},"variables":{},"resources":[{"name":"Lakehouse_to_Warehouse","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Copy_gold_dim_customer","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"LakehouseTableSource","datasetSettings":{"annotations":[],"linkedService":{"name":"spaceparts_fabric_lh","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"46a71285-4d57-4c8d-9bf6-2b3c7d697c2a","artifactId":"[parameters('spaceparts_fabric_lh')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"table":"gold_dim_customer"}}},"sink":{"type":"DataWarehouseSink","preCopyScript":"IF OBJECT_ID('dbo.gold_dim_customer','U') IS NOT NULL DROP TABLE dbo.gold_dim_customer;","allowCopyCommand":true,"copyCommandSettings":{},"tableOption":"autoCreate","datasetSettings":{"annotations":[],"linkedService":{"name":"Thewarehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"b2m7pwr7rkoebg3wfjkhkcmaaa-qujkorsxjwguzg7wfm6h22l4fi.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('Thewarehouse')]","workspaceId":"46a71285-4d57-4c8d-9bf6-2b3c7d697c2a"}}},"type":"DataWarehouseTable","schema":[],"typeProperties":{"table":"gold_dim_customer"}}},"enableStaging":true,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}},{"name":"Copy_gold_fact_budget","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"LakehouseTableSource","datasetSettings":{"annotations":[],"linkedService":{"name":"spaceparts_fabric_lh","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"46a71285-4d57-4c8d-9bf6-2b3c7d697c2a","artifactId":"[parameters('spaceparts_fabric_lh')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"table":"gold_fact_budget"}}},"sink":{"type":"DataWarehouseSink","preCopyScript":"IF OBJECT_ID('dbo.gold_fact_budget','U') IS NOT NULL DROP TABLE dbo.gold_fact_budget;","allowCopyCommand":true,"copyCommandSettings":{},"tableOption":"autoCreate","datasetSettings":{"annotations":[],"linkedService":{"name":"Thewarehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"b2m7pwr7rkoebg3wfjkhkcmaaa-qujkorsxjwguzg7wfm6h22l4fi.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('Thewarehouse')]","workspaceId":"46a71285-4d57-4c8d-9bf6-2b3c7d697c2a"}}},"type":"DataWarehouseTable","schema":[],"typeProperties":{"table":"gold_fact_budget"}}},"enableStaging":true,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}},{"name":"Copy_gold_fact_orders","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"LakehouseTableSource","datasetSettings":{"annotations":[],"linkedService":{"name":"spaceparts_fabric_lh","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"46a71285-4d57-4c8d-9bf6-2b3c7d697c2a","artifactId":"[parameters('spaceparts_fabric_lh')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"table":"gold_fact_orders"}}},"sink":{"type":"DataWarehouseSink","preCopyScript":"IF OBJECT_ID('dbo.gold_fact_orders','U') IS NOT NULL DROP TABLE dbo.gold_fact_orders;","allowCopyCommand":true,"copyCommandSettings":{},"tableOption":"autoCreate","datasetSettings":{"annotations":[],"linkedService":{"name":"Thewarehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"b2m7pwr7rkoebg3wfjkhkcmaaa-qujkorsxjwguzg7wfm6h22l4fi.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('Thewarehouse')]","workspaceId":"46a71285-4d57-4c8d-9bf6-2b3c7d697c2a"}}},"type":"DataWarehouseTable","schema":[],"typeProperties":{"table":"gold_fact_orders"}}},"enableStaging":true,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}},{"name":"Copy_gold_dim_product","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"LakehouseTableSource","datasetSettings":{"annotations":[],"linkedService":{"name":"spaceparts_fabric_lh","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"46a71285-4d57-4c8d-9bf6-2b3c7d697c2a","artifactId":"[parameters('spaceparts_fabric_lh')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"table":"gold_dim_product"}}},"sink":{"type":"DataWarehouseSink","preCopyScript":"IF OBJECT_ID('dbo.gold_dim_product','U') IS NOT NULL DROP TABLE dbo.gold_dim_product;","allowCopyCommand":true,"copyCommandSettings":{},"tableOption":"autoCreate","datasetSettings":{"annotations":[],"linkedService":{"name":"Thewarehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"b2m7pwr7rkoebg3wfjkhkcmaaa-qujkorsxjwguzg7wfm6h22l4fi.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('Thewarehouse')]","workspaceId":"46a71285-4d57-4c8d-9bf6-2b3c7d697c2a"}}},"type":"DataWarehouseTable","schema":[],"typeProperties":{"table":"gold_dim_product"}}},"enableStaging":true,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}},{"name":"Copy_gold_fact_sales","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"LakehouseTableSource","datasetSettings":{"annotations":[],"linkedService":{"name":"spaceparts_fabric_lh","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"46a71285-4d57-4c8d-9bf6-2b3c7d697c2a","artifactId":"[parameters('spaceparts_fabric_lh')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"table":"gold_fact_sales"}}},"sink":{"type":"DataWarehouseSink","preCopyScript":"IF OBJECT_ID('dbo.gold_fact_sales','U') IS NOT NULL DROP TABLE dbo.gold_fact_sales;","allowCopyCommand":true,"copyCommandSettings":{},"tableOption":"autoCreate","datasetSettings":{"annotations":[],"linkedService":{"name":"Thewarehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"b2m7pwr7rkoebg3wfjkhkcmaaa-qujkorsxjwguzg7wfm6h22l4fi.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('Thewarehouse')]","workspaceId":"46a71285-4d57-4c8d-9bf6-2b3c7d697c2a"}}},"type":"DataWarehouseTable","schema":[],"typeProperties":{"table":"gold_fact_sales"}}},"enableStaging":true,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}},{"name":"Lookup_Error_Copy_Activities","type":"Lookup","dependsOn":[{"activity":"Copy_gold_dim_customer","dependencyConditions":["Failed"]},{"activity":"Copy_gold_fact_budget","dependencyConditions":["Failed"]},{"activity":"Copy_gold_fact_orders","dependencyConditions":["Failed"]},{"activity":"Copy_gold_fact_sales","dependencyConditions":["Failed"]},{"activity":"Copy_gold_dim_product","dependencyConditions":["Failed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"LakehouseTableSource","query":{"value":"SELECT TOP 1 execution_id, details, error_message, timestamp, activity_name FROM warehouse_copy_execution_log WHERE status = 'Failed' ORDER BY timestamp DESC","type":"Expression"}},"datasetSettings":{"annotations":[],"linkedService":{"name":"spaceparts_fabric_lh","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"46a71285-4d57-4c8d-9bf6-2b3c7d697c2a","artifactId":"[parameters('spaceparts_fabric_lh')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"table":"warehouse_copy_execution_log"}}}},{"name":"Email_Notificacion_Error_Warehouse","type":"Office365Outlook","dependsOn":[{"activity":"Lookup_Error_Copy_Activities","dependencyConditions":["Succeeded"]}],"typeProperties":{"inputs":{"method":"post","path":"/v2/Mail","body":{"To":"luis-frontuso@javeriana.edu.co","Subject":"Error Warehose","Body":"<p>Error en el proceso Warehose</p>","Sensitivity":"","Importance":"Normal"}},"To":"luis-frontuso@javeriana.edu.co","Subject":"ERROR EN CARGA AL DATA WAREHOUSE - Pipeline ETL_FABRIC","Body":"@concat('<html><body><h2>Error en Pipeline ETL_FABRIC</h2><p><strong>Capa que falló:</strong> Carga al Data Warehouse</p><p><strong>Actividad específica:</strong> ', string(activity('Lookup_Error_Copy_Activities').output.firstRow.activity_name), '</p><p><strong>Fecha y Hora:</strong> ', utcnow(), '</p><p><strong>Execution ID:</strong> ', string(activity('Lookup_Error_Copy_Activities').output.firstRow.execution_id), '</p><p><strong>Detalles del Error:</p><p>', string(activity('Lookup_Error_Copy_Activities').output.firstRow.details), '</p><p><strong>Mensaje de Error:</strong></p><p>', coalesce(string(activity('Lookup_Error_Copy_Activities').output.firstRow.error_message), 'No se encontró mensaje de error específico'), '</p><p><strong>Timestamp del Error:</strong> ', string(activity('Lookup_Error_Copy_Activities').output.firstRow.timestamp), '</p><hr><p><em>Pipeline: ETL_FABRIC</em></p><p><em>Workspace ID: 46a71285-4d57-4c8d-9bf6-2b3c7d697c2a</em></p><p><em>Data Warehouse: Thewarehose</em></p></body></html>')","Importance":"High"}}],"lastModifiedByObjectId":"55696509-301d-4c8f-a753-1a39da51ba8d","lastPublishTime":"2025-09-20T02:34:32Z","logicAppsConnectionPayload":{"id":"/subscriptions/be93efee-ad4f-4af8-a4ce-2934392d9a53/resourceGroups/connections-46a71285-4d57-4c8d-9bf6-2b3c7d697c2a/providers/Microsoft.Web/connections/1_106bf1dd-7338-4491-82d8-868a3461be6b_55696509-301d-4c8f-a753-1a39da51ba8d","properties":{"api":{"name":"office365","id":"/subscriptions/be93efee-ad4f-4af8-a4ce-2934392d9a53/providers/Microsoft.Web/locations/westus/managedApis/office365"}}}},"dependsOn":[]}]}